<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.changbi.admin.mapper.AuthorRepository">

    <select id="selectAllAuthors" resultType="Author">
        SELECT *
        FROM author
        ORDER BY author_id DESC
    </select>

</mapper>