<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.changbi.admin.domain.Archive" alias="Archive"/>
        <typeAlias type="com.changbi.admin.domain.Author" alias="Author"/>
        <typeAlias type="com.changbi.admin.domain.Book" alias="Book"/>
        <typeAlias type="com.changbi.admin.domain.MenuCode" alias="MenuCode"/>
        <typeAlias type="com.changbi.admin.domain.Notice" alias="Notice"/>
    </typeAliases>

</configuration>

